/* место для вашего кода */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 52px;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 46px;
}

.header__links-list {
  list-style: circle;
  display: flex;
}

.header__links-list-item {
  margin-left: 32px;
  border-bottom: 1px solid black;
}

.header__links-list-item_no-bullit {
  list-style: none;
  margin: 0;
}

.header__link {
  font-size: 18px;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  color: #000000;
}

.header__logo {
  display: block;
  width: 136px;
  height: 105px;
}

.address {
  line-height: 24.3px;
  font-style: normal;
  width: 240.52px;
  height: 98px;
  font-size: 18px;
}

.header__address {
  text-align: left;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 96px;
  padding-top: 165px;
  padding-bottom: 51px;
  color: #ffffff;
}

.overlay {
  position: absolute;
  top: 0;
  background-color: black;
  width: 100%;
  bottom: 0;
  opacity: 0.6;
}

.cover__description-text {
  font-size: 22px;
  text-transform: uppercase;
}

.cover__title {
  letter-spacing: 0.3em;
  padding: 0 50px;
  font-weight: 700;
  line-height: 1.15;
  font-size: 100px;
  position: relative;
  z-index: 1;
}

.cover__description {
  margin-top: 133px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 0 78px;
  position: relative;
  z-index: 1;
}

.aligned-text {
  display: block;
  text-transform: uppercase;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0em;
}

.aligned-text_right {
  text-align: right;
  line-height: 1;
}

.aligned-text_center {
  text-align: center;
  line-height: 1.4;
}

.bet-button {
  padding: 12px 32px;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid currentColor;
}

.lots {
  padding: 179px 24px 146px 24px;
}

.lots__heading {
  font-size: 40px;
  line-height: 46.96px;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 40px;
}

.lots__card-list {
  padding: 27px 0 30px 0;
  list-style: none;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(3, 1fr);
}

.lots__card-list-item {
  flex: 1;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 563px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  padding: 51px 40px 48px 40px;
}

.card-link {
  text-decoration: none;
  min-height: 100%;
}

.card__title {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-size: 22px;
  position: relative;
  line-height: 26.4px;
  z-index: 1;
  text-decoration: underline;
}

.card__text {
  color: #ffffff;
  line-height: 24px;
  font-weight: 400;
  font-size: 20px;
  position: relative;
  z-index: 1;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}
.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}
.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  line-height: 23.48px;
  font-size: 20px;
  border-bottom: 1px solid #000000;
  font-weight: 400;
  text-decoration: none;
  margin-left: 40px;
}

.about {
  display: grid;
  padding: 0 24px;
  gap: 16px;
  grid-template-columns: 1fr 2fr;
}

.about__logo {
  background-color: #000000;
  width: 240px;
  display: flex;
  margin: 35px auto;
  height: 240px;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__texts {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 100px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-transform: uppercase;
}

.about__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.about__column {
  align-self: end;
  padding-top: 133px;
}

.footer {
  margin-top: 180px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
}

.footer__menu-link {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
}

.footer__social-list {
  list-style: none;
  display: flex;
  gap: 48px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
